body{background-color: #8F9779; color: beige; font-family: "Bahnschrift SemiBold"}
table{background-color: #6a5900;width: 1000px;margin-left: auto;margin-right:  auto;}
td,th{border-style: solid;border-color: black;}
td {text-align: center;}
img {width: 250px}
